a {
    font-weight: var(--fw-700);
    font-size: var(--fs-300);
    color: var(--clr-neutral-900);
    text-decoration: none;

    &:hover,
    &:focus {
        @extend %hover-focus;
    }
}
 
h1,
h2,
h3,
.section-subtitle,
.text-serif {
    font-family: var(--ff-serif);
    font-weight: var(--fw-200);
}

dt {
    font-size: var(--fs-400);
    color: var(--clr-neutral-400);
}

.text-500 {
    font-size: var(--fs-500);
}

.page-title {
    font-size: var(--fs-900);
}

.page-intro {
    font-size: var(--fs-600);
}

.section-title {
    font-size: var(--fs-600);
    color: var(--clr-neutral-400);
}

.section-subtitle {
    font-size: var(--fs-600);
}

.article-info {
    & time,
    & p {
        font-size: var(--fs-200);
        color: var(--clr-neutral-400);
    }
}