.container {
    max-width: 50rem;
    margin: 0 auto;
}

.flow-content > * + * {
    @include margins(var(--flow-spacer, 1em));
}

.split {
    display: flex;
    flex-direction: column;

    & > * + * {
        @include margins(4rem, 0, 0, 0);
    }

    & > * {
        flex-basis: 100%;
    }

    @include respond(40em) {
        flex-direction: row;

        & > * + * {
            @include margins(0, 0, 0, 2.5rem)
        }
    }
}

.m-xl-space {
    @include padding(5rem);
}

.bg-primary-300 {
    background-color: var(--clr-primary-300);
    border-radius: var(--br);
    @include padding($right-p: 2rem, $left-p: 2rem);
}