.about {
  &.split {
    @include split($break-p: 56.875em);
  }

  &_image {
    align-self: center;

    @include respond($breakpoint: 56.875em) {
      align-self: flex-start;
    }
  }

  &-info {
    --divider-top: 10px;

    // h2 {
    //   @include letter-spacing($letter-s: 2px);
    //   @include line-height($line-h: 1.5);
    // }

    & > * + * {
      @include margins($top-m: 2rem);
    }
  }
}
