@charset "UTF-8";
:root {
  --ff-primary: "Montserrat", sans-serif;
  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-250: 0.875rem;
  --fs-300: 1rem;
  --fs-350: 1.125rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3rem;
  --fs-900: 2.125rem;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;
  --clr-primary-300: #ffff00;
  --clr-primary-400: #ffee00;
  --br: 1rem;
}

@media (min-width: 40em) {
  :root {
    --fs-500: 1.75rem;
    --fs-600: 2.125rem;
    --fs-900: 4.25rem;
  }
}
.primary-footer .social-list a:hover, .primary-footer .social-list .btn:hover, .primary-footer .social-list .btn-back:hover, .primary-footer .social-list a:focus, .primary-footer .social-list .btn:focus, .primary-footer .social-list .btn-back:focus, .btn-back:hover, .btn:hover, .btn-back:focus, .btn:focus {
  color: var(--clr-primary-400);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
ul {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: var(--br);
}

body {
  line-height: 1.3;
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
}

a, .btn-back, .btn {
  font-weight: var(--fw-700);
  color: var(--clr-neutral-900);
}

h1,
h2 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
}

h1 {
  font-size: var(--fs-700);
}

h2,
.intro {
  font-size: var(--fs-350);
}

nav a, nav .btn-back,
.btn {
  font-size: var(--fs-250);
}

.container {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split {
  display: flex;
  flex-direction: column;
}
.split > * + * {
  margin: 4rem 0 0;
}
.split > * {
  flex-basis: 100%;
}
@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  .split > * + * {
    margin: 0 0 0 2.5rem;
  }
}

.m-xl-space {
  margin-top: 5rem !important;
}

.btn-back, .btn {
  text-decoration: none;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn-back:focus, .btn:focus {
  border: 2px solid var(--clr-primary-400);
}
.btn::after {
  content: "›";
  margin-left: 0.5em;
}

.btn-back::before {
  content: "‹";
  margin-right: 0.5em;
}

.primary-footer__inner {
  --border: 2px solid var(--clr-neutral-300);
  border-top: var(--border);
  border-bottom: var(--border);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.primary-footer .footer-nav {
  display: flex;
  flex-direction: column;
}
.primary-footer .footer-nav > * + * {
  margin-top: 4rem;
}
@media (min-width: 40em) {
  .primary-footer .footer-nav {
    flex-direction: row;
  }
  .primary-footer .footer-nav > * + * {
    margin-top: 0;
    margin-left: 4rem;
  }
}
.primary-footer .footer-bottom {
  display: flex;
  flex-direction: column-reverse;
}
.primary-footer .footer-bottom > * {
  margin-top: 2rem;
}
@media (min-width: 40em) {
  .primary-footer .footer-bottom {
    flex-direction: row;
  }
  .primary-footer .footer-bottom > * {
    margin-top: 0;
    margin-right: 4rem;
  }
}
.primary-footer .social-list {
  display: flex;
}
.primary-footer .social-list > * + * {
  margin-left: 2em;
}
.primary-footer .social-list a, .primary-footer .social-list .btn, .primary-footer .social-list .btn-back {
  color: var(--clr-neutral-500);
}
.primary-header {
  display: flex;
  background-color: var(--clr-neutral-900);
  padding: 2rem;
}
.site-nav {
  display: flex;
}
.site-nav a, .site-nav .btn, .site-nav .btn-back {
  color: white;
  text-decoration: none;
}
.site-nav > * + * {
  margin-left: 2rem;
}

section {
  padding: 2.5rem 0;
}
@media (min-width: 40em) {
  section {
    padding: 3.5rem 0;
  }
}

/*# sourceMappingURL=styles.css.map */
