.site-header {    
    background-color: var(--clr-primary-800);
    background: linear-gradient(45deg, var(--clr-primary-800), var(--clr-primary-200));

    .container {
        display: flex;
        align-items: center;
        @include margins($left-m: 0, $right-m: 0);

        & > * + *  {
            @include margins($left-m: 2rem);
        }
    }
}