.meme {
    @include padding($top-p: 2rem);
// 568 × 335 px

    .container {
        position: relative;
        
        img {
            margin: 0 auto;
        }
    }

    &__text {
        position: absolute;
        overflow-wrap: break-word;
        width: 80%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        margin: 15px 0;
        padding: 0 5px;
        font-family: impact, sans-serif;
        font-size: var(--fs-meme);
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;

        &-top {
            top: 0;            
        }

        &-bottom {
            bottom: 0;
        }
    }
}