.primary-header {
  --open-nav-fz: 2rem;
  --open-nav-clr: var(--clr-neutral-100);
  --logo-size: var(--fs-400);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;

  background-color: var(--clr-neutral-900);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > *:first-child {
      @include margins($right-m: 2rem);
    }
  }

  .logo {
    text-decoration: none;
    background-color: var(--clr-primary-300);
    @include padding($top-p: 3rem, $left-p: 0.5rem, $right-p: 0.5rem);
  }

  @include respond(21.875em) {
    --logo-size: var(--fs-600);
  }

  @include respond(38.625em) {
    .container {
      justify-self: unset;
    }

    .open-nav {
      display: none;
    }

    .logo {
      --logo-size: var(--fs-600);
    }
  }
}
