.primary-header {
    background-color: var(--clr-neutral-900);

    .container {
        display: flex;
        align-items: center;

        & > * + * {
            @include margins($left-m: 2rem);
        }
    }

    .logo {
        --logo-size: var(--fs-600);
        text-decoration: none;
        background-color: var(--clr-primary-300);
        @include padding($top-p: 3rem, $left-p: .5rem, $right-p: .5rem);
    }
}