/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-familes */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  /* font-sizes */
  --fs-200: 0.875rem; /* 14px */
  --fs-300: 1rem; /* 16px */
  --fs-400: 1.125rem; /* 18px */
  --fs-500: 1.75rem; /* 28px */
  --fs-600: 2rem; /* 32px */
  --fs-700: 3.5rem; /* 56px */
  --fs-800: 6.25rem; /* 100px */
  --fs-900: 9.375rem; /* 150px */

  /* letter-spacing */
  --ls-1: 4.75px;
  --ls-2: 2.7px;
  --ls-3: 2.35px;
}

/* ------------------ */
/* Rest */
/* ------------------ */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Sets default font-weight */
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.wrapper {
  padding-inline: var(--wrapper-padding-lr, 2em);
  margin-inline: var(--wrapper-margin-lr, auto);
  max-width: var(--wrapper-max-w, 80rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* Typography */

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: var(--ls-1);
}

.letter-spacing-2 {
  letter-spacing: var(--ls-2);
}

.letter-spacing-3 {
  letter-spacing: var(--ls-3);
}

.uppercase {
  text-transform: uppercase;
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: var(--ls-1);
}

.numbered-title > span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

/* Spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

/* ------------------- */
/* Components          */
/* ------------------- */

.large-button {
  display: grid;
  position: relative;
  z-index: 1;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white) / 0.15);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.primary-navigation {
  --gap: 8rem;
  --underline-gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.underline-indicators > * {
  cursor: pointer;
  border: none;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
  padding: var(--underline-gap, 1rem) 0;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  border-color: hsl(var(--clr-white) / 1);
}

.tab-indicators > * {
  --underline-gap: 0.5rem;
  background-color: transparent;
}

.dot-indicators > * {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  aspect-ratio: 1;
  background-color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}

.number-indicators > * {
  display: grid;
  place-content: center;
  cursor: pointer;
  padding: 1em;
  border-radius: 50%;
  border: 1px solid hsl(var(--clr-white) / 0.25);
  aspect-ratio: 1;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
}

.number-indicators > *:hover,
.number-indicators > *:active {
  border-color: hsl(var(--clr-white));
}

.number-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white));
}
