.form {    
    --container-max: 40rem;
    font-family: var(--ff-secondary);

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 1em;
        border: 1px solid var(--clr-neutral-200);
        border-radius: var(--br);
        transition-duration: 0.218s;
        transition-property:  box-shadow;
        transition-timing-function: ease-in;
    }

    & input {
        max-width: 50rem;
        width: 100%;
        padding: .5em;
        border: 0;
        border-bottom: 1px solid var(--clr-neutral-900);
        background-color: transparent;
        color: var(--clr-neutral-900);
        outline: none;
    }

    &__buttons {
        align-self: flex-end;
        
        & > * + * {
            @include margins($left-m: .5rem);
        }
    }
}