.form {    
    --container-max: 40rem;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 1em;
        border: 1px solid var(--clr-neutral-200);
        border-radius: var(--br);
        transition-duration: 0.218s;
        transition-property:  box-shadow;
        transition-timing-function: ease-in;

        & input {
            max-width: 50rem;
            width: 100%;
            padding: .5em;
            border: 0;
            background-color: transparent;
            border-radius: var(--br);
            color: var(--clr-neutral-100);
            outline: none;
        }
    
        &:hover,
        &:focus {   
            box-shadow: 0 1px 2px 0 rgb(244, 245, 247), 0 1px 3px 1px rgb(225, 242, 255);
        }
    }

    &__buttons {
        align-self: flex-end;
        
        & > * + * {
            @include margins($left-m: .5rem);
        }
    }
}

#form-main {
    #title {
        display: none;
    }

    #form-buttons-main {
        display: none;
    }
}